<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Təyinat</title>
  <meta content="" name="description">

  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: FlexStart - v1.9.0
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="assets/img/teyinat.png" alt="">
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Ana səhifə</a></li>
          <li class="dropdown"><a href="#"><span>Araşdırmalar</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Mədəniyyət</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Media</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li>  
              <form class="d-flex" style="margin-left: 10px;">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </li>
        </ul>

        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">
    <section style="margin-top: 35px;">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="d-flex">
              <p style="color:black; font-weight: bold; margin-right: 5px;">Cahad Məmmədli</p> 
              <span style="color:grey;"> 21 Dekabr 2021</span>
            </div>
          </div>
          <div class="col-lg-4">
          </div>
        </div>
          <div class="row">
            <div class="col-lg-8">
              <h1 style="color:black; font-weight: bold; font-style: sans-serif;">Demokratiyanın inkişafı və çürüməsi</h1>
              <i>"Sosial demokratiyanın taleyi yalnız soldakıları deyil avropada demokratiya ilə maraqlanan hər kəsi narahat etməlidir!</i>
            </div>
            <div class="col-lg-4">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8">
              <img src="assets\img\blog\blog-recent-1.jpg" class="img-fluid" style="height: 300px; width: 800px; margin-top: 10px; margin-bottom: 10px;">
            </div>
            <div class="col-lg-4">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <p style="color:black;font-family: sans-serif;">
              Keçmiş nəsil ərzində Avropadakı partiya sistemləri, solda yeni partiyaların və xüsusisən də, popilist sağların səs payların ənənəvi sağ-mərkəz və sol mərkəz partiyaları hesabına artırması ilə kökündən dəyişdi. Sonuncunun enişi xüsusilə dramatik oldu. Bəzi avropa ölkələrində sosial-demokrat partiyalar siyasi səhnədən praktiki olaraq yoxa çıxdı və hətta Almaniya və Skandinaviya kimi keçmiş qalalarda belə səs payları tarixi ən aşağı səviyyədədir. Sosial demokratiyanın taleyi yalnız soldakıları deyil, Avropada demokratiya  ilə maraqlanan hər kəsi narahat etməlidir.
            </p>
            <p style="color:black; font-family: sans-serif;">
              Avropa sosialist partiyaları demokratiyanın işləməsind kritik rol oynayacaq bir növ siyasi təşkilatın ataları olan ilk "müasir" partiyalar idi. Bundan əlavə, 19-cu əsrin sonu 20-ci əsrin əvvəllərində sosial-demokrat partiyalar demokratikləşmənin ən güclü tərəfdarları idi və İkinci Dünya Müharibəsindən sonra Avropada liberal, kapitalist demokratiyanın sabitliyi onlardan çox asılı idi.
            </p>
            <p style="color:black; font-family: sans-serif;">
              Sosialist demokrat partiyalara diqqət yetirmədən, 19-cu əsrin sonu və 20-ci əsrin ilk üçdə ikisidə Avropada demokratiyanın inkişafını başa düşmək, bir sözlə, mümkün deyil. Bu partiyaların onulliklərdə necə dəyişdiyini anlamadan bu gün Avropada demokratiyanın üzləşdiyi çətinlikləri anlamaq da mümkün deyil.
            </p>
          </div>
          <div class="col-lg-4">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
          <div class="d-flex">
            <span style="font-weight: bold; margin-right: 5px;">Paylaş:</span>
                <div id="fb-share-button" style="margin-right: 7px;"><i class="bi-facebook" style="color:black;"></i></div>
                <div id="tw-share-button" style="margin-right: 7px;"><i class="bi-twitter" style="color:black;"></i></div>
                <div id="ln-share-button" style="margin-right: 7px;"><i class="bi-linkedin" style="color:black;"></i></div>
                  <script type="text/javascript">
                                  var fbButton = document.getElementById('fb-share-button');
                  var url = window.location.href;

                  fbButton.addEventListener('click', function() {
                      window.open('https://www.facebook.com/sharer/sharer.php?u=' + url,
                          'facebook-share-dialog',
                          'width=800,height=600'
                      );
                      return false;
                  });
                  </script>
                  <script type="text/javascript">
                                  var fbButton = document.getElementById('tw-share-button');
                  var url = window.location.href;

                  fbButton.addEventListener('click', function() {
                      window.open('https://twitter.com/intent/tweet?text=' + url,
                          'facebook-share-dialog',
                          'width=800,height=600'
                      );
                      return false;
                  });
                  </script>
                  <script type="text/javascript">
                                  var fbButton = document.getElementById('ln-share-button');
                  var url = window.location.href;

                  fbButton.addEventListener('click', function() {
                      window.open('https://www.linkedin.com/sharing/share-offsite/?url=' + url,
                          'facebook-share-dialog',
                          'width=800,height=600'
                      );
                      return false;
                  });
                  </script>
                  
          </div>
          </div>
          <div class="col-lg-4">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <hr>
              <div class="d-flex">
                <div class="mr-auto p-2"><i class="bi-eye eye">220</i></div>
                <div class="mr-auto p-2"><i class="bi-chat-right-text comment">12</i></div>
                <div class="p-2" style="margin-left:auto!important;"><i class="bi-hand-thumbs-up like">26</i></div>
              </div>
              <hr>
          </div>
          <div class="col-lg-4">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
              <div class="form-group">
                <label for="exampleFormControlTextarea1" style="color:black; font-weight: bold; margin-bottom: 5px;">Rəylər</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Rəy yaz.." rows="1"></textarea>
              <div class="d-flex" style="margin-top: 10px;">
                <a class="btn btn-success" style="margin-left: auto!important;" href="#" > Göndər </a>
              </div>
              </div>
          </div>
          <div class="col-lg-4">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <div class="d-flex">
              <p style="color:black; font-weight: bold; margin-right: 5px;">Cahad Məmmədli</p> 
              <span style="color:grey;"> 21 Dekabr 2021</span>
            </div>
            <p style="color:black;">Bu həqiqətəndə mükəmməl yazıdır!</p>
            <hr style="margin-top: 10px; margin-bottom: 10px;">
          </div>
          <div class="col-lg-4">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <div class="d-flex">
              <p style="color:black; font-weight: bold; margin-right: 5px;">Cahad Məmmədli</p> 
              <span style="color:grey;"> 21 Dekabr 2021</span>
            </div>
            <p style="color:black;">Bu həqiqətəndə mükəmməl yazıdır!</p>
            <hr style="margin-top: 10px; margin-bottom: 10px;">
          </div>
          <div class="col-lg-4">
          </div>
        </div>
      </div>
    </section>


  </main><!-- End #main -->
  <!-- ======= Footer ======= -->
<hr>
<footer>
  <div class="container">
    <div class="row" style="margin-top: 5px; margin-bottom: 5px;">
      <div class="col-lg-4">
          <a href="index.html" class="logo">
            <img src="assets/img/teyinat.png" alt="" width="100px;">
          </a>
          <p style="font-size: 14px; margin-top: 5px;">
            Azərbaycanın ən böyük <br> internet dərgisi!
          </p>
      </div>
      <div class="col-lg-4">
          <p style="font-size: 16px; font-weight: bold;">
            Bizi izləyin:
          </p>
          <div class="d-flex">
                <div class="" style="margin-right: 7px;"><i class="bi-facebook" style="color:black;"></i></div>
                <div class="" style="margin-right: 7px;"><i class="bi-instagram" style="color:black;"></i></div>
                <div class="" style="margin-right: 7px;"><i class="bi-twitter" style="color:black;"></i></div>
                <div class="" style="margin-right: 7px;"><i class="bi-youtube" style="color:black;"></i></div>
          </div>
      </div>
      <div class="col-lg-4">
          <p style="font-size: 16px; font-weight: bold;" class="d-flex">
            Abone olun:
          </p>
            <form action="" method="post" class="d-flex">
              <input type="email" name="email" style="border-radius: 5px!important; height: 38px; width: 320px; margin: auto!important;"><input type="submit" value="Abone ol!" class="btn btn-success" style="background-color: green; color:white;margin-left:5px;">
            </form>
      </div>
    </div>
    <hr>
    <div class="row" style="margin-top: 5px; margin-bottom: 5px;">
      <div class="col-lg-12">
          <div class="d-flex">
            <div class="">
              <t style="color:black;"> Bütün hüquqlar qorunur.© 2021 Təyinat</t>
              <p style="color:black;"> <u style="font-weight: bold;">Mehdi Mehdizadeh</u> və <u style="font-weight: bold;">Röyal Babayev </u> tərəfindən hazırlanıb!
            </div>
            <div class="p-2" style="margin-left:auto!important;">
              <p>AZ1000, Bakı, Azərbaycan</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>